/* General styles */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Hero section */

.hero header {
    display: flex;
    align-items: baseline;
    
}

ul {
    display: flex;
    gap: 18px;
    list-style: none;
    margin-left: auto;

}

ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.hero {
    background-color: #1F2937;
    /* height: 500px; */
}

.hero-img {
    flex: 1 1 auto;
    height: 250px;
    border: 1px solid hsl(0, 0%, 76%);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 96px;
    margin-top: 6rem;
    padding-bottom: 6rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    width: 40ch;
}

.cta-hero {
    padding: 10px 32px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
